
.search-form {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  justify-content: flex-end;
}

.search-form input[type="search"] {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  width: 200px;
}

.search-form button[type="submit"] {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
}

.search-form button[type="submit"]:hover {
  background-color: #444;
}