.card{
    width: 400;
    height: 400;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    color: white;
    background-color:limegreen;
  }
  img{
    width: 200;
    height: 400;
    object-fit: cover;
    object-position: center;
  }