.homepage{
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template-rows: 0.2fr 1.6fr 0.2fr;
    height: 100vh;
    gap: 2px;
}
.main{
    display: grid;
    grid-template-columns:0.1fr 0.9fr 0.9fr 0.1fr ;
    gap: 2px;
}
.main > *{
    background: linear-gradient(1deg, #ffffff, #FFCC80) ;;
}
.footer{
    background: linear-gradient(1deg, #ffffff, #FFCC80)
}
.image{
    object-fit: cover;
    object-position: center;

}
.image img {
    height:600px;
    width: 100%;
  }
  