.body-container {
    background-color: #9ff8e2; 
    max-width: 90%;
    margin: auto;  
    margin-top: 40px;
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    border-radius: 8px;
}

@media screen and (max-width: 1024px) {
    .body-container {
        grid-template-columns: repeat(auto-fit, minmax(45%, 1fr)); 
    }
}

@media screen and (max-width: 768px) {
    .body-container {
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    }
}
