body {
  font-family: 'Roboto', sans-serif;
}

/* Logo Styles */
.logo {
  width: 60px;
  height: auto;
  margin-right: 15px;
  background-color: #FFD700;
  border-radius: 50%;
  padding: 5px;
  position: absolute;
  left: 10px;
}

/* Logo Container Styles */
.logo-container {
  display: flex;
  align-items: center;
  position: relative;
}

/* Navigation Bar Styles */
nav {
  margin-right: 10px;
  margin-left: 80px;
  background: linear-gradient(1deg, #9ff8e2, #FFCC80);
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  position: relative;
  z-index: 1;
}

/* Navigation Links Styles */
.navItem {
  color: #000000;
  text-decoration: none;
  padding: 12px 20px;
  margin-right: 10px;
  transition: background-color 0.3s ease;
  border-radius: 8px;
}

/* User Profile Link Styles */
.userprofile {
  margin-right: 20px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 12px 20px;
  margin-right: 10px;
  transition: background-color 0.3s ease;
  border-radius: 8px;
  background-color: #ff9030;
}

/* Navigation Links Hover Styles */
.navItem:hover {
  color: #FFFFFF;
  background-color: #ff9030;
}

/* Active Link Styles */
.navItem.active {
  color: #36382e;
  background-color: #80ffff;
}

/* User Profile Link Hover Styles */
.userprofile:hover {
  background-color: #ffa928;
}

/* Emoji Styles */
.userprofile::after {
  content: "👤";
  margin-left: 5px;
}

/* Media Query for Small Screens */
@media screen and (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    width: 50%;
  }

  .navItem, .userprofile {
    margin-top: 10px;
    margin-right: 0;
    width: 50%;
  }
}
